Handling imbalanced Dataset - Credit Card Data/creditcard.csv
Complete Python and Machine Learning/final_data.csv
Complete Python and Machine Learning/final_data.csv.hdf5
Complete Python and Machine Learning/esea_master_dmg_demos.part1.csv
/.idea
/Test MLflow/mlruns
Complete Python and Machine Learning/catboost_1757968163.8496256/catboost_training.json
/Complete Python and Machine Learning/catboost_1757968163.8496256
/Complete Python and Machine Learning/catboost_1757968190.3598418
Complete Python and Machine Learning/.ipynb_checkpoints/56. MLBOX Library-checkpoint.ipynb
Complete Python and Machine Learning/56. MLBOX Library.ipynb
